p{
	text-align: center;
	font-size: 16px;
	word-spacing: 2px;
}
body {
  background:url(dus1.jpeg);
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

@keyframes example {
	5% {background: url(dus1.jpeg);}
	10%{background:url(dus2.jpeg);}
	25% {background: url(dus3.jpeg);}
	50% {background: url(dus4.jpeg);}
}


@keyframes example2 {
	100%{background: url(&#128150;); left: 200px; right: 200px;}
}


header {
	border: 2px solid black;
	border-radius: 5px;
	border-width: 100%;
	background-color: red;
	 animation-name: example2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  

}
@keyframes example2 {
	100%{background: url(&#128150;); left: 200px; right: 200px;}
}

.class {
	text-align: center;

}

h1{
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

h2{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}

p{
	text-align: center;
	font-size: 40px;
	word-spacing: 2px;
	color: white;
}

a{
	text-align: center;
}
button:hover{
	color: white;
	opacity: 0.6;
	font-size: 18;

}
button {
	background-color: red;
	animation-name: example3;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes example3 {
	100%{background: url(;); left: 200px; right: 200px;}
}
